* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	
}

h1 {
	font-size: 55px;
	font-weight:500;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 15px;
}

h2 {
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	margin-bottom: 10px;
}


h3 {
	font-weight:400;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	margin-bottom: 15px;
}

h4 {
	font-weight:400;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	margin-bottom: 10px;
}

p {
	font-weight:300;
	font-family: 'Montserrat', sans-serif;
	line-height: 22px;

}

a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.red, .redLink a {
	color:#ff4b4f !important;
}

.blue, .blueLink a {
	color:#80d9e3!important;
}

.green, .greenLink a {
	color:#73d2a2!important;
}

.orange, .orangeLink a {
	color:#f39140!important;
}

.purple, .purpleLink a {
	color:#9973d2!important;
}

.redHam {
	background-color:#ff4b4f !important;
}

.img { 
	width:100%;
}

.clearFloat{
	clear: both;
}

.floatLeft{
	float:left;
}

.bgImage {
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
}

.btn {
	padding:5px 20px;
	border-radius: 20px;
	color:#fff;
	margin:30px 0;
	font-family: 'Montserrat', sans-serif;
}

.hamburgerMenu {
	position: absolute;
	right:20px;
	top:20px;
	cursor: pointer;
	transform: rotate(180deg);
}

.hamDiv {
	position: relative;
	background-position: left top;
	width:40px;
	height:5px;
	border-radius: 4px;
	margin:4px 0;
	background-color: #fff;
	transition: width 0.5s;
}



/* index */

.linkLeft {
	font-size:20px;
	color: #fff;
	margin:40px 0 0 40px;
	float: left;
}

.linkRight{
	font-size:20px;
	color:#fff;
	margin:50px 40px 0 0;
	float: right;
}

.linkRight:hover, .linkLeft:hover {
	color: #eee;
	opacity: 0.7;
}

.mainHeading{
	color:#fff;
	text-align: center;
	float: left;
}

.mainPageLinks a {
	color:#fff;
	text-decoration:none;
	font-size: 16px;
	padding:0 18px;
}
/* join urban climb */

.leftHeading {
	text-align: left;
	color: #fff;
    width: 393px;
    float:left;
}

.leftNavLinks {
	padding-left:40px;
	font-size: 12px;
	padding-top:20px;
	width:103px;
	position: relative;
	left: -55px;
	float: left;
}

.leftNavLinks a {
	margin-top:10px;
	color: #fff;
}

.redActive {
	color:#ff4b4f !important;
	text-decoration: underline;
}

.close {
	padding: 20px !important;
	color: #fff;
	opacity: 1;
}

.extraLineHeight {
	padding-top: 15px;
}

/* Join Urban Climb Modual */

.pricesTable {
	float: left; 
	border: #eeeeee solid 2px;
	padding: 35px 10px 10px;
	margin:20px;
}

/*.modal-dialog {
	width:90%!important;
}*/

.modal-body {
	overflow: scroll;
	padding: 0;
	border-radius: 10px;
}

.bgModualImage {
	background-size: cover;
	height:100vh;
	width:100%;
}

.modualTitle {
	padding: 32% 0 0 8%;
	color: #fff;
	width:338px;
}

.specials {
	width:33.3%;
	float:left;
	border-right: solid #dadada 2px;
    border-bottom: 2px solid #dadada;
	padding:20px;
	text-align: center;
	padding-bottom: 54px;
}

.specialHeadings {
	width: 85%;
	margin: 0 auto;
    line-height: 19px;
    margin-bottom: 10px;
    font-weight: 400;
}

.circle {
	background-color: #eee;
	border-radius: 50%; 
	width:50px;
	height:50px;
	margin: 20px auto;
}

.memberAdvertP {
	padding:10% 17%;
	border-bottom:solid #dadada 2px;
}

.Mon6 {
	float:left;
	text-align:right;
	width:50%;
}

.Mon12 {
	float:left;
	text-align:left;
	width:50%;
}

.pricesContain {
	width:500px;
	margin:0 auto;
}

.prices {
	margin-top:20px;
	padding:20px 0;
	font-family: 'Montserrat', sans-serif;
	border-top: #dadada solid 2px;
}

.nonContract {
	width:80%;
	border: #dadada 2px solid;
	padding:40px 40px 20px 40px;
	margin:20px auto;
}

.contractBtn {
	float:left;
}

/* footer */

footer {
	position: absolute;
	bottom:20px;
	width:100%;
}

.altNavLink {
	float:left;
	width:33.3%;
	padding-left: 80px;
}

.altNavLink a {
	color:#fff;
	text-decoration: underline;
}

.homeLink{
	padding:20px 100px 0 0;
}

.contactLink {
	padding:20px 0 0 70px;
}

.socialContain {
	float:right;
	width:33.3%;
    padding-right: 40px;
}

.socialIcon {
	float:right;
    width: 100px;
    padding: 0 40px 0 40px
}

.alignmentPadding {
	padding-top: 3px;
}


.readMore {
	text-align: center;
	width:33.3%;
	color:#fff;
	margin: 0 auto;
	cursor:pointer;
	float: left;
}

